@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my home!</h1>
    <p>Sorry about the mess.</p>
    <img src="https://contentgrid.homedepot-static.com/hdus/en_US/DTCCOMNEW/Articles/how-to-build-a-cardboard-box-playhouse-step-6.jpg" alt="A cardboard box home" />
    <h4>Please take a seat!</h4>
    <img src="https://i.ytimg.com/vi/xVnzR2YkWoc/maxresdefault.jpg" alt="A cardboard box seat" />
    <h4>Now trust me I know what your thinking, He must be poor. Honestly though I only live like this ironically see take a look at my fancy jewelry.</h4>
    <img src="https://i.etsystatic.com/5328751/r/il/ae9ab2/3225277709/il_570xN.3225277709_axf5.jpg" alt="A cardboard necklace" />
    <h4>Oh uh haha, must have accidnetally put on the wrong necklace coulda sworn I had my diamond one on! Look here is a photo of it!</h4>
    <img src="https://media.istockphoto.com/id/493610261/photo/diamonds-necklace-shot-against-a-black-background.jpg?s=1024x1024&w=is&k=20&c=ekkLfw412jSwTwLuOGOMnNuuQXGleDJby4-BAtkQZio=" alt="A diamond necklace covered in stock photo copyright words" />
    <h4>I know the stock photo things kinda cover it up, but I swear it's mine I'm just uh letting the company borrow it!</h4>
    <h4>You know what I actually made us some food so let's eat.</h4>
    <img src="https://c8.alamy.com/comp/DAFKAE/cheeseburger-made-from-from-cardboard-unhealthy-eating-or-fast-food-DAFKAE.jpg" alt="A cardboard cheeseburger" />
    <h4>What do you mean you aren't hungry? I told you not to eat before coming over. Are you not a fan of my cooking?</h4>
    <h4>That's it exit my home immediately! All you have been is rude. Leave now before I use force!</h4>
    <img src="https://i.pinimg.com/736x/63/af/7f/63af7f3af5ac8cde784bcdef4553646e--kids-knight-costume-knight-helmet-craft.jpg" alt="A guy in a totally sick suit of cardboard armour" />

</div>


