<div class="text-center">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <div class="card">
        <img src="https://i.kym-cdn.com/photos/images/facebook/001/896/232/2a0.jpg" alt="chad image" style="width:40%;margin-left:auto;margin-right:auto">
        <h1>Litterally me</h1>
        <p class="title">CEO & Founder of</p>
        <p>Making joe mama jokes at work to the point of coworkers being annoyed by it.</p>
        <p style="font-size:small">Please give me an A!</p>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <p><button>Contact</button></p>
    </div>
</div>



