@{
    ViewData["Title"] = "Please help me this is not a joke!";
}
<h1>@ViewData["Title"]</h1>
<img src="https://pbs.twimg.com/media/EQwEcHCXsAA5eCc.jpg" alt="Barack obama litterally trapped inside your phone asking for help!" />
